@page
@model Medisysnae.Pages.Usuarios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Contrasena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Contrasena)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.CodMedico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.CodMedico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.EstaHabilitado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.EstaHabilitado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Usuario.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
