@page
@model Medisysnae.Pages.Profesionales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesional.NombreUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesional.NombreUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesional.Habilitado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesional.Habilitado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesional.Rol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesional.Rol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesional.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesional.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesional.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesional.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesional.Matricula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesional.Matricula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesional.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesional.Telefono)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Profesional.NombreUsuario">Editar</a> |
    <a asp-page="./Index">Volver a la lista</a>
</div>
