@page
@model Medisysnae.Pages.Pacientes.AntecedentesDetailsModel
@{
    ViewData["Title"] = "AntecedentesDetails";
}

<h1>@Model.Paciente.ApellidoNombre</h1>
<br/>
<div class="form-group">
    <a asp-page="./Antecedentes" asp-route-id="@Model.Paciente.ID" style="color:white;" class="btn btn-primary">Editar</a>|
    <a asp-page="./Index">Volver a la lista</a>
</div>
<br />

<table class="table table-bordered">
    <col width="30%">
    <col width="70%">
    <tbody>


        @foreach (var item in Model.AntecedentesPaciente)
        {
            <tr>
                <td>
                    @if (item.Antecedente.EsListaOpciones)
                    {

                    }
                    else if (item.Antecedente.EsTitulo)
                    {
                        <h3>@Html.DisplayFor(modelItem => item.Antecedente.Descripcion)</h3>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Antecedente.Descripcion)
                    }
                </td>
                @if (!item.Antecedente.EsListaOpciones && !item.Antecedente.EsTitulo)
                {
                    if (item.Antecedente.EsTextArea)
                    {
                        <td>
                            <textarea style="width:100%" disabled="disabled">@item.ValorString</textarea>
                        </td>
                    }
                    else
                    {
                        <td width="100%">
                            <input type="text" value="@item.ValorString" disabled="disabled" style="width:100%" />
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
