@page
@model Medisysnae.Pages.Pacientes.AntecedentesModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Antecedentes";
}

<h1>Antecedentes</h1>
<h3>@Model.Paciente.ApellidoNombre</h3>

<form method="post" class="form-horizontal">
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" style="background-color:dodgerblue; border-color:dodgerblue" />
        <a class="btn btn-danger" asp-page="./Index">Cancelar</a>
    </div>
    <input type="hidden" asp-for="PacienteID" value="@Model.Paciente.ID" />
    <br />
    <table class="table table-bordered">
        <col width="30%">
        <col width="70%">
        <tbody>

            @for (int i = 0; i < Model.ListAntecedentes.Count(); i++)
            {
                <tr>
                    <td>
                        @if (Model.ListAntecedentes[i].Antecedente.EsTitulo)
                        {
                        <input type="hidden" asp-for="ValoresAntecedentes" value="@Model.ListAntecedentes[i].ValorString" />
                            <h3>@Html.DisplayFor(modelItem => Model.ListAntecedentes[i].Antecedente.Descripcion)</h3>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.ListAntecedentes[i].Antecedente.Descripcion)
                        }
                    </td>
                    @if (!Model.ListAntecedentes[i].Antecedente.EsListaOpciones && !Model.ListAntecedentes[i].Antecedente.EsTitulo)
                    {
                        if (Model.ListAntecedentes[i].Antecedente.EsTextArea)
                        {
                    <td>             
                        <input asp-for="ValoresAntecedentes" value="@Model.ListAntecedentes[i].ValorString" style="width:100%" />
                    </td>
                        }
                        else
                        {
                    <td>
                        <input asp-for="ValoresAntecedentes" rows="40" type="text" value="@Model.ListAntecedentes[i].ValorString" style="width:100%" />
                    </td>
                        }
                    }
       
                </tr>
            }

        </tbody>
    </table>
</form>
